social_system/*.zip
social_system/*.gz

social_system/need_module/.vscode
social_system/emotion_module/.vscode
social_system/behavior_module/.vscode

interface_sim/.vscode

#过滤数据库文件、sln解决方案文件、配置文件
*.mdb
*.ldb
*.sln
*.config
*.zip
*.gz
/CMakeLists.txt

#过滤文件夹
build/
.vscode/
