<!-- -->
<launch>
   # ROS_NAMESPACE=mono rosrun image_proc image_proc   bayer to bgr8
   <node pkg="visualization" type="main" name="visualization"  />
   <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure"  >   </node>
   <param name="enable_loop_closing" value="false" />  
  

</launch>
