<launch>
 # The planning and execution components of MoveIt! configured to 
 # publish the current configuration of the robot (simulated or real)
 # and the current state of the world as seen by the planner
 # 下面这个  看不懂啊。
 #答：通过trajectory_execution.launch.xml，
 #调用了rm_65_moveit_controller_manager.launch.xml，
 #进而调用了controllers_gazebo.yaml， 并将其中的param添加到了ROS参数服务器中
 <include file="$(find rm_65_moveit_config)/launch/move_group.launch">
      <arg name="publish_monitored_planning_scene" value="true" />
      <arg name="load_robot_description" value="false" />
      <arg name="load_camera_and_tracer" value="true" />
 </include>
 # The visualization component of MoveIt!   这个只是用来可视化   没什么看的必要
 <include file="$(find rm_65_moveit_config)/launch/moveit_rviz.launch"/>

  <!-- We do not have a robot connected, so publish fake joint states -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/> 
    <rosparam param="/source_list">[/arm/joint_states]</rosparam>
  </node>

</launch>
